<div class="container-fluid" style="height: 100vh">
  <div class="row">
    <div class="col-12 col-lg-9 inner" style="border: 1px solid green;height: 400px">

      <div class="row pt-1 d-flex justify-content-between" style="border:1px solid red" >
        <div class="col-12 col-sm-3">
          <label>My Courses</label>
        </div>
        <div class="col-12 col-sm-3 ">
          <button type="button" class="btn btn-primary btn-sm" routerLink=""> + Add Course</button>
        </div>

      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-wrap p-2 inner" >
        <app-registered-programm-widget></app-registered-programm-widget>
        <app-registered-programm-widget></app-registered-programm-widget>
        <app-registered-programm-widget></app-registered-programm-widget>
        <app-registered-programm-widget></app-registered-programm-widget>
      </div>

    </div>
    <div class="col-12 col-lg-3" style="border: 1px solid green;height: 400px">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xxl-12" style="border: 1px solid green;height: 400px"></div>
  </div>
  <div class="row">
    <div class="col-12 col-xxl-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>

