<div class="outer">
  <div class="inner">
    <div class="first" >
      <img src="../../../assets/logo.png" alt="logo" style="width: 80px;height:80px">
    </div>
    <div class="second" style="display: flex;flex-direction: column">
      <h1>Info</h1>
      <label style="display: flex;align-items: center;">
        <mat-icon aria-hidden="false" aria-label="Example phone icon" fontIcon="phone" style="margin-right:8px "></mat-icon>
        Call us : 041 2222681
      </label>
      <label style="display: flex;align-items: center">
        <mat-icon aria-hidden="false" aria-label="Example email icon" fontIcon="email" style="margin-right:8px "></mat-icon>
        Ind&commat;gmail.com
      </label>
    </div>
    <div class="last" style="display: flex;flex-direction: column">
      <h1>Contact us</h1>
      <label style="display: flex;align-items: center">
        <mat-icon aria-hidden="false" aria-label="Example phone icon" fontIcon="phone" style="margin-right:8px "></mat-icon>
        Call us : 041 2222681
      </label>
      <label style="display: flex;align-items: center">
        <mat-icon aria-hidden="false" aria-label="Example email icon" fontIcon="email" style="margin-right:8px "></mat-icon>
        Ind&commat;gmail.com
      </label>

    </div>
  </div>
</div>
