.outer{
  .inner{
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 30px;
    color: #F8F9FA;
    h1{
      color: #F25C05;
    }
    .second{

    }
  }
}
