<div class="box">
  <div class="upper">
    <img src="https://static.vecteezy.com/system/resources/previews/007/685/830/non_2x/colorful-geometric-background-trendy-gradient-shapes-composition-cool-background-design-for-posters-free-vector.jpg" alt="normal img">
  </div>
  <div class="bottom">
    <a routerLink="course-content">
      <h1 class="program-name">
        {{name}}
      </h1>
    </a>
    <p>Semester 1</p>
    <h3 class="en_date">
    {{date | date:'MMMM d, y'}}
  </h3>
  </div>
</div>
