.outer{


  .inner{

    .hero-sec{
      width: 100vw;
      height: 100vh;
      padding: 10px;
      display: flex;


      .left-side{

        flex: 3;
        padding: 30px;
        .course-sec{
          display: flex;
          flex-direction: column;
          height: 100%;

          .course-head{
            background: #ffffff;
            flex:1;
            width: 100%;
            height: auto;
            border: 0.5px solid #D0D1C9;
            border-bottom: none;
            display: flex;
            align-items: center;

            label{
              margin-left: 20px;
              height: auto;
              color: #F25C05;
              font-size: large;
            }
          }
          .course-body{
            flex:10;
            width: 100%;
            border: 1px solid #D0D1C9;
            background-color: #F9F9F9;
            .button-sec{
              display: flex;
              align-items: center;
              background-color: #ffffff;
              .btn{
                padding: 8px;
                background-color: #F25C05;
                border: none;
                margin:9px;

              }
            }
          }

        }

      }
      .right-side{
        flex: 1;
        border: 5px solid green;
        margin: 30px 0;
      }
    }
  }
}
