<div class="outer">
  <div class="inner">
    <div class="hero-sec">
      <div class="left-side">
        <div class="course-sec">
          <div class="course-head">
            <label>Course Overview</label>
          </div>
          <div class="course-body">
            <mat-tab-group >
              <mat-tab label="Registered Courses" >
                  <div class="container" style="width: 100%;height: 500px;margin: 10px">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget [name]="'Computer Science'"></app-registered-programm-widget>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget></app-registered-programm-widget>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget></app-registered-programm-widget>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget></app-registered-programm-widget>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget></app-registered-programm-widget>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget></app-registered-programm-widget>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget></app-registered-programm-widget>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget></app-registered-programm-widget>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
                        <app-registered-programm-widget></app-registered-programm-widget>
                      </div>



                    </div>
                  </div>
              </mat-tab>
              <mat-tab label="New Courses">

              </mat-tab>

            </mat-tab-group>
          </div>

        </div>
      </div>
      <div class="right-side">

      </div>



    </div>
    <app-footer></app-footer>
  </div>
</div>
